<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Binding data and Simple To Do example</title>
</head>
<body>
    <div id="app">
      
      <!-- <h1 v-bind:title="menu">{{ title }}</h1>
      
      <p v-text="content"></p>
      <input type="text" v-model="content"> -->
      <input type="text" v-model="item">
      <ul>
          <li v-for="todo in items">{{todo}}</li>
      </ul>
      <button @click="items.push(item)">Add Item</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
            el:'#app',
            data:{
                // title:'My Title Again',
                // content:'My text here',
                // menu:'My menu data here'
                item:'',
                items:[
                    'item1',
                    'item2'
                ]
            }
        });
    </script>
   
</body>
</html>